  <app-menu></app-menu>
  <!-- 
  <app-rating (onRating) = "handleRating($event)"></app-rating>
  
  <input type="text" (input) = "title = $event.target.value" />
  <app-lifecycletest [title] = "title"></app-lifecycletest>
  -->
 
  <div class="container">
    <router-outlet></router-outlet>
  </div>
  
  <!-- 
  <input type="file" style="display:none" #uploader/>
  <button (click)="uploader.click()">Load File</button> 
  -->

  <footer class="footer">
    <div class="container">
    <div class="content has-text-centered">
      <hr>
    </div>
    </div>
    </footer>